<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% load static %}

    <link rel="shortcut icon" href= {% static 'adinba_app/images/adinba-Favicon.png' %} type="image/png"
    />


    <!-- Title and description ================================================== -->
    <title>
        Events &ndash; Adinba
    </title>



    <!-- Social meta ================================================== -->
    <!-- /snippets/social-meta-tags.liquid -->




    <meta property="og:site_name" content="Vintage">
    <meta property="og:url" content="https://minimal-vintage.myshopify.com/collections/prints">
    <meta property="og:title" content="Prints">
    <meta property="og:type" content="product.group">
    <meta property="og:description" content="Minimal Vintage is a free responsive theme for Shopify available in the Shopify Theme Store.">





    <meta name="twitter:site" content="@shopify">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Prints">
    <meta name="twitter:description" content="Minimal Vintage is a free responsive theme for Shopify available in the Shopify Theme Store.">


    <!-- Helpers ================================================== -->
    <link rel="canonical" href="https://minimal-vintage.myshopify.com/collections/prints">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex">
    <meta name="theme-color" content="#d77e6a">

    <!-- CSS ================================================== -->
    <link href="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/timber.scss.css?11848849078860595220" rel="stylesheet" type="text/css"
        media="all" />
    <link href="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/theme.scss.css?11848849078860595220" rel="stylesheet" type="text/css"
        media="all" />
    <link href="//fonts.googleapis.com/css?family=Crimson+Text:700" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet" type="text/css" media="all" />
    <script>
        window.theme = window.theme || {};

        var theme = {
            strings: {
                zoomClose: "Close (Esc)",
                zoomPrev: "Previous (Left arrow key)",
                zoomNext: "Next (Right arrow key)",
                addressError: "Error looking up that address",
                addressNoResults: "No results for that address",
                addressQueryLimit: "You have exceeded the Google API usage limit. Consider upgrading to a \u003ca href=\"https:\/\/developers.google.com\/maps\/premium\/usage-limits\"\u003ePremium Plan\u003c\/a\u003e.",
                authError: "There was a problem authenticating your Google Maps API Key."
            },
            settings: {
                // Adding some settings to allow the editor to update correctly when they are changed
                themeBgImage: false,
                customBgImage: '',
                enableWideLayout: false,
                typeAccentTransform: true,
                typeAccentSpacing: true,
                baseFontSize: '16px',
                headerBaseFontSize: '30px',
                accentFontSize: '14px'
            },
            variables: {
                mediaQueryMedium: 'screen and (max-width: 768px)',
                bpSmall: false
            },
            moneyFormat: "${{amount}}"
        }

        document.documentElement.className = document.documentElement.className.replace('no-js', 'supports-js');
    </script>

    <!-- Header hook for plugins ================================================== -->
    <meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/1530847/digital_wallets/dialog">
    <link rel="next" href="/collections/prints?page=2">
    <link rel="alternate" type="application/json+oembed" href="https://minimal-vintage.myshopify.com/collections/prints.oembed">
    <link rel="alternate" type="application/atom+xml" title="Feed" href="/collections/prints.atom" />
    <script>var Shopify = Shopify || {};
        Shopify.shop = "minimal-vintage.myshopify.com";
        Shopify.theme = { "name": "Minimal - Revamp 2017 (new catalog)", "id": 332595209, "theme_store_id": 380, "role": "main" };
        Shopify.theme.handle = "null";
        Shopify.theme.style = { "id": null, "handle": null };
    </script>
    <script id="__st">var __st = { "a": 1530847, "offset": -14400, "reqid": "27e6c7b8-5f04-4916-bed9-f226809a8777", "pageurl": "minimal-vintage.myshopify.com\/collections\/prints", "u": "cd9363c79b6d", "p": "collection", "rtyp": "collection", "rid": 1726152713 };</script>
    <script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
    <script>window.Shopify = window.Shopify || {};
        window.Shopify.Checkout = window.Shopify.Checkout || {};
        window.Shopify.Checkout.apiHost = "minimal-vintage.myshopify.com";
        window.Shopify.Checkout.requestHost = "minimal-vintage.myshopify.com"
        window.Shopify.Checkout.rememberMeHost = "pay.shopify.com";
        window.Shopify.Checkout.rememberMeAccessToken = "Q0p3cXFld3lzWEJOYzl0V0NBZnEvWlhrTDJGR2pWVXZ4dU5YZEcyVXhCK05RbmVqbzBydkpGNVdWdGFVQThXMC0tcmRCZ0NUMVB1Y0srekI4ZW40KzBWZz09--9f98d04035b53f639deabdd6afdf0d5a3f72ebf2";
        window.Shopify.Checkout.sheetStyleSheetUrl = "\/\/cdn.shopify.com\/s\/assets\/shared\/sheet\/main-c150bd783aa9b2c6b0c41ded3880c45a0848a9914354d4222628be6c924200a3.css";
        window.ShopifyPay = window.ShopifyPay || {};
        window.ShopifyPay.acceleratedFlowIncontext = false;
    </script>
    <script>window['GoogleAnalyticsObject'] = 'ga';
        window['ga'] = window['ga'] || function () {
            (window['ga'].q = window['ga'].q || []).push(arguments);
        };
        window['ga'].l = 1 * new Date();
    </script>
    <script>var _gaUTrackerOptions = { 'allowLinker': true }; ga('create', 'UA-42189134-16', 'auto', _gaUTrackerOptions); ga('send', 'pageview');
        (function () {
            ga('require', 'linker');
            function addListener(element, type, callback) {
                if (element.addEventListener) {
                    element.addEventListener(type, callback);
                }
                else if (element.attachEvent) {
                    element.attachEvent('on' + type, callback);
                }
            }
            function decorate(event) {
                event = event || window.event;
                var target = event.target || event.srcElement;
                if (target && (target.action || target.href)) {
                    ga(function (tracker) {
                        var linkerParam = tracker.get('linkerParam');
                        document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
                    });
                }
            }
            addListener(window, 'load', function () {
                for (var i = 0; i < document.forms.length; i++) {
                    if (document.forms[i].action && document.forms[i].action.indexOf('/cart') >= 0) {
                        addListener(document.forms[i], 'submit', decorate);
                    }
                }
                for (var i = 0; i < document.links.length; i++) {
                    if (document.links[i].href && document.links[i].href.indexOf('/checkout') >= 0) {
                        addListener(document.links[i], 'click', decorate);
                    }
                }
            })
        }());
    </script>
    <script>
        window.ShopifyAnalytics = window.ShopifyAnalytics || {};
        window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
        window.ShopifyAnalytics.meta.currency = 'CAD';
        var meta = { "page": { "pageType": "collection", "resourceType": "collection", "resourceId": 1726152713 } };
        for (var attr in meta) {
            window.ShopifyAnalytics.meta[attr] = meta[attr];
        }
    </script>
    <script>window.ShopifyAnalytics.merchantGoogleAnalytics = function () {

        };
    </script>
    <script class="analytics">


        (function () {
            var customDocumentWrite = function (content) {
                var jquery = null;

                if (window.jQuery) {
                    jquery = window.jQuery;
                } else if (window.Checkout && window.Checkout.$) {
                    jquery = window.Checkout.$;
                }

                if (jquery) {
                    jquery('body').append(content);
                }
            };

            var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
            if (trekkie.integrations) {
                return;
            }
            trekkie.methods = [
                'identify',
                'page',
                'ready',
                'track',
                'trackForm',
                'trackLink'
            ];
            trekkie.factory = function (method) {
                return function () {
                    var args = Array.prototype.slice.call(arguments);
                    args.unshift(method);
                    trekkie.push(args);
                    return trekkie;
                };
            };
            for (var i = 0; i < trekkie.methods.length; i++) {
                var key = trekkie.methods[i];
                trekkie[key] = trekkie.factory(key);
            }
            trekkie.load = function (config) {
                trekkie.config = config;
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.onerror = function (e) {
                    (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
                };
                script.async = true;
                script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2017.09.05.1';
                var first = document.getElementsByTagName('script')[0];
                first.parentNode.insertBefore(script, first);
            };
            trekkie.load(
                { "Trekkie": { "appName": "storefront", "development": false, "defaultAttributes": { "shopId": 1530847, "isMerchantRequest": null, "themeId": 332595209, "themeCityHash": 9187673746250153376 } }, "Performance": { "navigationTimingApiMeasurementsEnabled": true, "navigationTimingApiMeasurementsSampleRate": 1.0 }, "Session Attribution": {} }
            );

            var loaded = false;
            trekkie.ready(function () {
                if (loaded) return;
                loaded = true;

                window.ShopifyAnalytics.lib = window.trekkie;


                var originalDocumentWrite = document.write;
                document.write = customDocumentWrite;
                try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch (error) { };
                document.write = originalDocumentWrite;


                window.ShopifyAnalytics.lib.page(
                    null,
                    { "pageType": "collection", "resourceType": "collection", "resourceId": 1726152713 }
                );


                window.ShopifyAnalytics.lib.track(
                    "Viewed Product Category",
                    { "category": "Collection: prints", "nonInteraction": true }
                );

            });


            var eventsListenerScript = document.createElement('script');
            eventsListenerScript.async = true;
            eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-f2c5800305098f0ebebdfa7d980c9abf56514c46d5305e97a7c476f7c9116163.js";
            document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

        })();
    </script>
    <script defer="defer" integrity="sha256-6l0oj1WXRcpzI+a9vuyHDJL2vUxmgtvXGkFTR163720=" crossorigin="anonymous" src="//cdn.shopify.com/s/assets/storefront/express_buttons-ea5d288f559745ca7323e6bdbeec870c92f6bd4c6682dbd71a4153475eb7ef6d.js"></script>
    <script async="async" src="https://www.google-analytics.com/analytics.js"></script>
    <script defer="defer" src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-68ca1924c495cfc55dac65f4853e0c9a395387ffedc8fe58e0f2e677f95d7f23.js"></script>




    <!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
<link href="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="//minimal-vintage.myshopify.com/search?q=48dd9eb0891c5e97a03c8c3c5666cc06" id="respond-redirect" rel="respond-redirect" />
<script src="//minimal-vintage.myshopify.com/search?q=48dd9eb0891c5e97a03c8c3c5666cc06" type="text/javascript"></script>
<![endif]-->


    <script src="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/jquery-2.2.3.min.js?11848849078860595220" type="text/javascript"></script>

    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/lazysizes.min.js?11848849078860595220" async="async"></script>
    <!--<![endif]-->
    <!--[if lte IE 9]><script src="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/lazysizes.min.js?11848849078860595220"></script><![endif]-->

    <style>
        #customer_login_link_logout {
            display: inline-block;
            border: none;
            vertical-align: top;
            background-color: none;
            margin-bottom: 0.1em;
            color: white;
        }
    
        input[type="submit"] {
            background-color: #1b1e2f;
        }
    </style>


</head>

<body id="prints" class="template-collection">

    <div id="shopify-section-header" class="shopify-section">
        <style>
            .logo__image-wrapper {
                max-width: 90px;
            }

            /*================= If logo is above navigation ================== */

            /*============ If logo is on the same line as navigation ============ */

            .site-header .grid--full {
                border-bottom: 1px solid #faf9f7;
                padding-bottom: 30px;
            }

            @media screen and (min-width: 769px) {
                .site-nav {
                    text-align: right!important;
                }
            }
        </style>

        <div data-section-id="header" data-section-type="header-section">
            <div class="header-bar">
                <div class="wrapper medium-down--hide">
                    <div class="post-large--display-table">
                        {% if request.session.user %} {% if request.session.user.id == 1 %}
                        <div class="header-bar__right post-large--display-table-cell">
                            <form id="customer_login_link_logout" action='/admin_dashboard'>
                                <input id="customer_login_link_logout" value="Admin Dashboard" type="submit">
                            </form>
                            <form id="customer_login_link_logout" action='/logout' method='POST'>
                                {% csrf_token %}
                                <input id="customer_login_link_logout" value="Log Out" type="submit">
                            </form>
                        </div>
                        {% elif request.session.user.business_owner == True %}
                        <div class="header-bar__right post-large--display-table-cell">
                            <form id="customer_login_link_logout" action='/owner_dashboard'>
                                <input id="customer_login_link_logout" value="Owner Dashboard" type="submit">
                            </form>
                            <form id="customer_login_link_logout" action='/logout' method='POST'>
                                {% csrf_token %}
                                <input id="customer_login_link_logout" value="Log Out" type="submit">
                            </form>
                        </div>
                        {% else %}
                        <div class="header-bar__right post-large--display-table-cell">
                            <form id="customer_login_link_logout" action='/user_dashboard'>
                                <input id="customer_login_link_logout" value="User Dashboard" type="submit">
                            </form>
                            <form id="customer_login_link_logout" action='/logout' method='POST'>
                                {% csrf_token %}
                                <input id="customer_login_link_logout" value="Log Out" type="submit">
                            </form>
                        </div>
                        {% endif %} {% else %}
                        <div class="header-bar__right post-large--display-table-cell">
                            <form id="customer_login_link_logout" action='/login'>
                                <input id="customer_login_link_logout" value="Login" type="submit">
                            </form>
                            <form id="customer_login_link_logout" action='/register'>
                                <input id="customer_login_link_logout" value="Create an Account" type="submit">
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <header class="site-header" role="banner">
                <div class="wrapper">
                    <div class="grid--full post-large--display-table">
                        <div class="grid__item post-large--one-third post-large--display-table-cell">
                            <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
                                <noscript>
                                    <div class="logo__image-wrapper">
                                        <!-- <img src="//cdn.shopify.com/s/files/1/0153/0847/files/Vintage-logo_9cc006cc-ba26-4269-9a0b-63a46b8fe21d_90x.png?v=1509032029"
                                                        alt="Vintage" /> -->
                                    </div>
                                </noscript>
                                <div class="logo__image-wrapper supports-js">
                                    <a href="/" itemprop="url" style="padding-top:43.50000000000001%;">
                                        <img class="logo__image lazyload" src= {% static 'adinba_app/images/adinba--Mobile.png' %} data-widths="[120, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                                            data-aspectratio="2.2988505747126435" data-sizes="auto" alt="Vintage" itemprop="logo">
                                    </a>
                                    <!-- data-src="//cdn.shopify.com/s/files/1/0153/0847/files/Vintage-logo_9cc006cc-ba26-4269-9a0b-63a46b8fe21d_{width}x.png?v=1509032029" -->
                                </div>
                            </h1>
                        </div>
                        <div class="grid__item post-large--two-thirds post-large--display-table-cell medium-down--hide">
                            <ul class="site-nav" role="navigation" id="AccessibleNav">
                                <li class="site-nav--active">
                                    <a href="/" class="site-nav__link">Home</a>
                                </li>
                                <li>
                                    <a href="#businesses" class="site-nav__link">Businesses</a>
                                </li>
                                <li>
                                    <a href="#events" class="site-nav__link">Events</a>
                                </li>
                                <li>
                                    <a href="#specials" class="site-nav__link">Specials</a>
                                </li>
                                <li>
                                    <a href="#groceries" class="site-nav__link">Grocery Ads</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>

    </div>

    <main class="wrapper main-content" role="main">
        <div class="grid">
            <div class="grid__item">
                <div id="shopify-section-collection-template" class="shopify-section">
                    <div id="CollectionSection" data-section-id="collection-template" data-section-type="collection-template" data-sort-enabled="true"
                        data-tags-enabled="true">
                        <header class="section-header section-header--large">
                            <h1 class="section-header__title section-header__title--left">Events</h1>

                            <div class="section-header__link--right">

                                <div class="form-horizontal">
                                    <label for="BrowseBy">Browse by</label>
                                    <select name="category" id="BrowseBy" class="btn--tertiary">
                                        <option value="all">All</option>
                                        <option value="recreation">Recreational</option>
                                        <option value="education">Educational</option>
                                        <option value="sports">Sports</option>
                                        <option value="music">Music</option>
                                        <option value="restaurant">Restaurants</option>
                                        <option value="alumni">Alumni</option>
                                    </select>
                                </div>
<!-- 
                                <script>
                                    $(function () {
                                        $('#BrowseBy')
                                            .bind('change', function () {
                                                location.href = jQuery(this).val();
                                            }
                                            );
                                    });
                                </script> -->

                                <div class="form-horizontal">
                                    <label for="SortBy">Sort by</label>
                                    <select name="sort" id="SortBy" class="btn--tertiary">
                                        <option value="all">All</option>
                                        <option value="most_recent">Most Recent</option>
                                        <option value="ending_date">Ending Date</option>
                                        <option value="price-ascending">Price, low to high</option>
                                        <option value="price-descending">Price, high to low</option>
                                    </select>
                                </div>
                            </div>
                        </header>



                        <div class="grid-uniform grid-link__container">
                            <div class="grid__item wide--one-fifth large--one-quarter medium-down--one-half" style = "width: 100%;">
                                {% for event in events%}
                                <div class="" style = "height: 360px; max-width: 340px; border: 1px solid black; display:inline-block; vertical-align: top; padding: 10px;">
                                    <h1>{{event.title}}</h1>
                                    <p>{{event.description}}</p>
                                    <p>Starting Date: {{event.starting_date}}</p>
                                    <p>Contact Person: {{event.primary_contact}}</p>
                                    <p>Contact Email: {{event.contact_email}}</p>
                                    <a>View this Event Details!</a>
                                    <!-- <a href="/collections/prints/products/twin-forks" class="grid-link">
                                        <span class="grid-link__image grid-link__image-sold-out grid-link__image--product">
                                            <span class="grid-link__image-centered">
                                                <style>
                                                    #ProductImage-263017693193 {
                                                        max-width: 339.4994559303591px;
                                                        max-height: 480px;
                                                    }

                                                    #ProductImageWrapper-263017693193 {
                                                        max-width: 339.4994559303591px;
                                                    }
                                                </style>

                                                <div id="ProductImageWrapper-263017693193" class="product__img-wrapper supports-js">
                                                    <div style="padding-top:141.3846154%;">
                                                        <img id="ProductImage-263017693193" class="product__img lazyload" src="//cdn.shopify.com/s/files/1/0153/0847/products/twin_forks_300x300.jpg?v=1509038405"
                                                            data-src="//cdn.shopify.com/s/files/1/0153/0847/products/twin_forks_{width}x.jpg?v=1509038405"
                                                            data-widths="[150, 220, 360, 470, 600, 750, 940, 1080, 1296, 1512, 1728, 2048]"
                                                            data-aspectratio="0.7072905331882481" data-sizes="auto" alt="TWIN FORKS">
                                                    </div>
                                                </div>

                                                <noscript>
                                                    <img src="//cdn.shopify.com/s/files/1/0153/0847/products/twin_forks_large.jpg?v=1509038405" alt="TWIN FORKS" class="product__img">
                                                </noscript>

                                            </span>
                                        </span>
                                        <p class="grid-link__title">TWIN FORKS</p>
                                        <p class="grid-link__title grid-link__vendor">Shopify</p>
                                        <p class="grid-link__meta">
                                            <span class="visually-hidden">Regular price</span>
                                            $30.00
                                        </p>
                                    </a> -->
                                </div>
                                {% endfor %}
                            </div>
<!-- asdfasdf? -->
                        </div>


                        <hr class="hr--clear">
                        <div class="text-center">
                            <ul class="pagination-custom">
                                <li class="disabled">
                                    <span>&larr;</span>
                                </li>
                                <li class="active">
                                    <span>1</span>
                                </li>
                                <li>
                                    <a title="">2</a>
                                </li>
                                <li>
                                    <a title="Next &raquo;">&rarr;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="shopify-section-footer" class="shopify-section">
        <footer class="site-footer small--text-center" role="contentinfo">
        
            <div class="wrapper">
        
                <div class="grid-uniform">
                    <div class="grid__item post-large--one-quarter medium--one-half site-footer__links">
                        <h3 class="h4">
                            About Adbina
                        </h3>
        
                        <p>Adinba is an all-in-one business directory giving you a new way to promote your business such as offering
                            Coupons and/or Events to the public.</p>
        
                    </div>
                    <div class="grid__item post-large--one-quarter medium--one-half">
        
                        <h3 class="h4">Terms and Conditions</h3>
        
                        <ul class="site-footer__links">
        
                            <li>
                                <a href="/terms">Terms of Use</a>
                            </li>
        
                            <li>
                                <a href="/privacy">Privacy Policy</a>
                            </li>
        
                        </ul>
                    </div>
                    <div class="grid__item post-large--one-quarter medium--one-half">
                        <h3 class="h4">Contact Us</h3>
                        <ul class="site-footer__links">
                            <li>
                                <a herf="/">
                                    <!-- <span class="icon icon-twitter" aria-hidden="true"></span> -->
                                    Send us a Message
                                </a>
                            </li>
                            <li>
                                <!-- <span class="icon icon-twitter" aria-hidden="true"></span> -->
                                info@adinba.com
                            </li>
                            <li>
                                <!-- <span class="icon icon-twitter" aria-hidden="true"></span> -->
                                818 - 875 - 3389
                            </li>
                        </ul>
                    </div>
        
                    <div class="grid__item post-large--one-quarter medium--one-half">
                        <h3 class="h4">Newsletter</h3>
                        <p>Sign up for the latest events, specials and more!</p>
                        <div class="form-vertical small--hide">
                            <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
                                <input type="hidden" name="form_type" value="customer" />
                                <input type="hidden" name="utf8" value="✓" />
        
        
                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <input type="email" value="" placeholder="Your email" name="contact[email]" id="Email" class="input-group-field" aria-label="Your email"
                                    autocorrect="off" autocapitalize="off">
                                <input type="submit" class="btn" name="subscribe" id="subscribe" value="Subscribe">
        
                            </form>
                        </div>
                        <div class="form-vertical post-large--hide large--hide medium--hide">
                            <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
                                <input type="hidden" name="form_type" value="customer" />
                                <input type="hidden" name="utf8" value="✓" />
        
        
                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <div class="input-group">
                                    <input type="email" value="" placeholder="Your email" name="contact[email]" id="Email" class="input-group-field" aria-label="Your email"
                                        autocorrect="off" autocapitalize="off">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn" name="commit" id="subscribe">Subscribe</button>
                                    </span>
                                </div>
        
                            </form>
                        </div>
        
                    </div>
                </div>
        
                <hr class="hr--small hr--clear">
        
                <div class="grid">
                    <div class="grid__item text-center">
                        <p class="site-footer__links">Copyright &copy; 2018,
                            <a href="/" title="">Adinba</a>.
                            <a href="">All-in-one Business Directory</a>
                        </p>
                    </div>
                </div>
            </div>
        
        </footer>
    </div>



    <script src="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/theme.js?11848849078860595220" type="text/javascript"></script>

</body>

</html>