<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> {% load static %}

    <link rel="shortcut icon" href= {% static 'adinba_app/images/adinba-Favicon.png' %} type="image/png" />


    <!-- Title and description ================================================== -->
    <title>
        Privacy Policy &ndash; Adinba
    </title>



    <!-- Social meta ================================================== -->
    <!-- /snippets/social-meta-tags.liquid -->




    <meta property="og:site_name" content="Vintage">
    <meta property="og:url" content="https://minimal-vintage.myshopify.com/account/login">
    <meta property="og:title" content="Account">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Minimal Vintage is a free responsive theme for Shopify available in the Shopify Theme Store.">





    <meta name="twitter:site" content="@shopify">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Account">
    <meta name="twitter:description" content="Minimal Vintage is a free responsive theme for Shopify available in the Shopify Theme Store.">


    <!-- Helpers ================================================== -->
    <link rel="canonical" href="https://minimal-vintage.myshopify.com/account/login">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex">
    <meta name="theme-color" content="#d77e6a">

    <!-- CSS ================================================== -->
    <link href="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/timber.scss.css?11848849078860595220" rel="stylesheet" type="text/css"
        media="all" />
    <link href="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/theme.scss.css?11848849078860595220" rel="stylesheet" type="text/css"
        media="all" />






    <link href="//fonts.googleapis.com/css?family=Crimson+Text:700" rel="stylesheet" type="text/css" media="all" />






    <link href="//fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet" type="text/css" media="all" />




    <script>
        window.theme = window.theme || {};

        var theme = {
            strings: {
                zoomClose: "Close (Esc)",
                zoomPrev: "Previous (Left arrow key)",
                zoomNext: "Next (Right arrow key)",
                addressError: "Error looking up that address",
                addressNoResults: "No results for that address",
                addressQueryLimit: "You have exceeded the Google API usage limit. Consider upgrading to a \u003ca href=\"https:\/\/developers.google.com\/maps\/premium\/usage-limits\"\u003ePremium Plan\u003c\/a\u003e.",
                authError: "There was a problem authenticating your Google Maps API Key."
            },
            settings: {
                // Adding some settings to allow the editor to update correctly when they are changed
                themeBgImage: false,
                customBgImage: '',
                enableWideLayout: false,
                typeAccentTransform: true,
                typeAccentSpacing: true,
                baseFontSize: '16px',
                headerBaseFontSize: '30px',
                accentFontSize: '14px'
            },
            variables: {
                mediaQueryMedium: 'screen and (max-width: 768px)',
                bpSmall: false
            },
            moneyFormat: "${{amount}}"
        }

        document.documentElement.className = document.documentElement.className.replace('no-js', 'supports-js');
    </script>

    <!-- Header hook for plugins ================================================== -->
    <meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/1530847/digital_wallets/dialog">
    <script>var Shopify = Shopify || {};
        Shopify.shop = "minimal-vintage.myshopify.com";
        Shopify.theme = { "name": "Minimal - Revamp 2017 (new catalog)", "id": 332595209, "theme_store_id": 380, "role": "main" };
        Shopify.theme.handle = "null";
        Shopify.theme.style = { "id": null, "handle": null };
    </script>
    <script id="__st">var __st = { "a": 1530847, "offset": -14400, "reqid": "a796bb21-3d35-49aa-81c6-09ccced00c54", "pageurl": "minimal-vintage.myshopify.com\/account\/login", "u": "5ba8ccf61b3a" };</script>
    <script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
    <script>window.Shopify = window.Shopify || {};
        window.Shopify.Checkout = window.Shopify.Checkout || {};
        window.Shopify.Checkout.apiHost = "minimal-vintage.myshopify.com";
        window.Shopify.Checkout.requestHost = "minimal-vintage.myshopify.com"
        window.Shopify.Checkout.rememberMeHost = "pay.shopify.com";
        window.Shopify.Checkout.rememberMeAccessToken = "UUtqSTA4OWFKQnQvNmtXb2lEeXVVcHVMWkt2TWJTMW4rTHJxenNBTUp2OENFTG5KSFlmSXVQOXFzandrcmFSdS0tY1dTZmlGcU1LNXBQRHMxOC9kSm9KQT09--4a48e033407afbe617dd2bd2ff218438fde88c65";
        window.Shopify.Checkout.sheetStyleSheetUrl = "\/\/cdn.shopify.com\/s\/assets\/shared\/sheet\/main-c150bd783aa9b2c6b0c41ded3880c45a0848a9914354d4222628be6c924200a3.css";
        window.ShopifyPay = window.ShopifyPay || {};
        window.ShopifyPay.acceleratedFlowIncontext = false;
    </script>
    <script>window['GoogleAnalyticsObject'] = 'ga';
        window['ga'] = window['ga'] || function () {
            (window['ga'].q = window['ga'].q || []).push(arguments);
        };
        window['ga'].l = 1 * new Date();
    </script>
    <script>var _gaUTrackerOptions = { 'allowLinker': true }; ga('create', 'UA-42189134-16', 'auto', _gaUTrackerOptions); ga('send', 'pageview');
        (function () {
            ga('require', 'linker');
            function addListener(element, type, callback) {
                if (element.addEventListener) {
                    element.addEventListener(type, callback);
                }
                else if (element.attachEvent) {
                    element.attachEvent('on' + type, callback);
                }
            }
            function decorate(event) {
                event = event || window.event;
                var target = event.target || event.srcElement;
                if (target && (target.action || target.href)) {
                    ga(function (tracker) {
                        var linkerParam = tracker.get('linkerParam');
                        document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
                    });
                }
            }
            addListener(window, 'load', function () {
                for (var i = 0; i < document.forms.length; i++) {
                    if (document.forms[i].action && document.forms[i].action.indexOf('/cart') >= 0) {
                        addListener(document.forms[i], 'submit', decorate);
                    }
                }
                for (var i = 0; i < document.links.length; i++) {
                    if (document.links[i].href && document.links[i].href.indexOf('/checkout') >= 0) {
                        addListener(document.links[i], 'click', decorate);
                    }
                }
            })
        }());
    </script>
    <script>
        window.ShopifyAnalytics = window.ShopifyAnalytics || {};
        window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
        window.ShopifyAnalytics.meta.currency = 'CAD';
        var meta = { "page": {} };
        for (var attr in meta) {
            window.ShopifyAnalytics.meta[attr] = meta[attr];
        }
    </script>
    <script>window.ShopifyAnalytics.merchantGoogleAnalytics = function () {

        };
    </script>
    <script class="analytics">


        (function () {
            var customDocumentWrite = function (content) {
                var jquery = null;

                if (window.jQuery) {
                    jquery = window.jQuery;
                } else if (window.Checkout && window.Checkout.$) {
                    jquery = window.Checkout.$;
                }

                if (jquery) {
                    jquery('body').append(content);
                }
            };

            var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
            if (trekkie.integrations) {
                return;
            }
            trekkie.methods = [
                'identify',
                'page',
                'ready',
                'track',
                'trackForm',
                'trackLink'
            ];
            trekkie.factory = function (method) {
                return function () {
                    var args = Array.prototype.slice.call(arguments);
                    args.unshift(method);
                    trekkie.push(args);
                    return trekkie;
                };
            };
            for (var i = 0; i < trekkie.methods.length; i++) {
                var key = trekkie.methods[i];
                trekkie[key] = trekkie.factory(key);
            }
            trekkie.load = function (config) {
                trekkie.config = config;
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.onerror = function (e) {
                    (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
                };
                script.async = true;
                script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2017.09.05.1';
                var first = document.getElementsByTagName('script')[0];
                first.parentNode.insertBefore(script, first);
            };
            trekkie.load(
                { "Trekkie": { "appName": "storefront", "development": false, "defaultAttributes": { "shopId": 1530847, "isMerchantRequest": null, "themeId": 332595209, "themeCityHash": 9187673746250153376 } }, "Performance": { "navigationTimingApiMeasurementsEnabled": true, "navigationTimingApiMeasurementsSampleRate": 1.0 }, "Session Attribution": {} }
            );

            var loaded = false;
            trekkie.ready(function () {
                if (loaded) return;
                loaded = true;

                window.ShopifyAnalytics.lib = window.trekkie;


                var originalDocumentWrite = document.write;
                document.write = customDocumentWrite;
                try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch (error) { };
                document.write = originalDocumentWrite;


                window.ShopifyAnalytics.lib.page(
                    null,
                    {}
                );


            });


            var eventsListenerScript = document.createElement('script');
            eventsListenerScript.async = true;
            eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-f2c5800305098f0ebebdfa7d980c9abf56514c46d5305e97a7c476f7c9116163.js";
            document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

        })();
    </script>
    <script defer="defer" integrity="sha256-6l0oj1WXRcpzI+a9vuyHDJL2vUxmgtvXGkFTR163720=" crossorigin="anonymous" src="//cdn.shopify.com/s/assets/storefront/express_buttons-ea5d288f559745ca7323e6bdbeec870c92f6bd4c6682dbd71a4153475eb7ef6d.js"></script>
    <script async="async" src="https://www.google-analytics.com/analytics.js"></script>
    <script defer="defer" src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-68ca1924c495cfc55dac65f4853e0c9a395387ffedc8fe58e0f2e677f95d7f23.js"></script>




    <!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
<link href="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="//minimal-vintage.myshopify.com/search?q=48dd9eb0891c5e97a03c8c3c5666cc06" id="respond-redirect" rel="respond-redirect" />
<script src="//minimal-vintage.myshopify.com/search?q=48dd9eb0891c5e97a03c8c3c5666cc06" type="text/javascript"></script>
<![endif]-->


    <script src="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/jquery-2.2.3.min.js?11848849078860595220" type="text/javascript"></script>

    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/lazysizes.min.js?11848849078860595220" async="async"></script>
    <!--<![endif]-->
    <!--[if lte IE 9]><script src="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/lazysizes.min.js?11848849078860595220"></script><![endif]-->



    <script src="//cdn.shopify.com/s/assets/themes_support/shopify_common-040322ee69221c50a47032355f2f7e6cbae505567e2157d53dfb0a2e7701839c.js"
        type="text/javascript"></script>

    <style>
        #customer_login_link_logout {
            display: inline-block;
            border: none;
            vertical-align: top;
            background-color: none;
            margin-bottom: 0.1em;
            color: white;
        }

        input[type="submit"] {
            background-color: #1b1e2f;
        }
    </style>


</head>

<body id="account" class="template-customers-login">

    <div id="shopify-section-header" class="shopify-section">
        <style>
            .logo__image-wrapper {
                max-width: 90px;
            }

            /*================= If logo is above navigation ================== */

            /*============ If logo is on the same line as navigation ============ */

            .site-header .grid--full {
                border-bottom: 1px solid #faf9f7;
                padding-bottom: 30px;
            }




            @media screen and (min-width: 769px) {
                .site-nav {
                    text-align: right!important;
                }
            }
        </style>

        <div data-section-id="header" data-section-type="header-section">
            <div class="header-bar">
                <div class="wrapper medium-down--hide">
                    <div class="post-large--display-table">
                        {% if request.session.user %} {% if request.session.user.id == 1 %}
                        <div class="header-bar__right post-large--display-table-cell">
                            <form id="customer_login_link_logout" action='/admin_dashboard'>
                                <input id="customer_login_link_logout" value="Admin Dashboard" type="submit">
                            </form>
                            <form id="customer_login_link_logout" action='/logout' method='POST'>
                                {% csrf_token %}
                                <input id="customer_login_link_logout" value="Log Out" type="submit">
                            </form>
                        </div>
                        {% elif request.session.user.business_owner == True %}
                        <div class="header-bar__right post-large--display-table-cell">
                            <form id="customer_login_link_logout" action='/owner_dashboard'>
                                <input id="customer_login_link_logout" value="Owner Dashboard" type="submit">
                            </form>
                            <form id="customer_login_link_logout" action='/logout' method='POST'>
                                {% csrf_token %}
                                <input id="customer_login_link_logout" value="Log Out" type="submit">
                            </form>
                        </div>
                        {% else %}
                        <div class="header-bar__right post-large--display-table-cell">
                            <form id="customer_login_link_logout" action='/user_dashboard'>
                                <input id="customer_login_link_logout" value="User Dashboard" type="submit">
                            </form>
                            <form id="customer_login_link_logout" action='/logout' method='POST'>
                                {% csrf_token %}
                                <input id="customer_login_link_logout" value="Log Out" type="submit">
                            </form>
                        </div>
                        {% endif %} {% else %}
                        <div class="header-bar__right post-large--display-table-cell">
                            <form id="customer_login_link_logout" action='/login'>
                                <input id="customer_login_link_logout" value="Login" type="submit">
                            </form>
                            <form id="customer_login_link_logout" action='/register'>
                                <input id="customer_login_link_logout" value="Create an Account" type="submit">
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <header class="site-header" role="banner">
                <div class="wrapper">


                    <div class="grid--full post-large--display-table">
                        <div class="grid__item post-large--one-third post-large--display-table-cell">

                            <div class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">


                                <noscript>

                                    <div class="logo__image-wrapper">
                                        <img src= {% static 'adinba_app/images/adinba--Mobile.png' %} alt="Adinba.com" />
                                    </div>
                                </noscript>
                                <div class="logo__image-wrapper supports-js">
                                    <a href="/" itemprop="url" style="padding-top:43.50000000000001%;">
                                        <img class="logo__image lazyload" src= {% static 'adinba_app/images/adinba--Mobile.png' %} data-widths="[120, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                                            data-aspectratio="2.2988505747126435" data-sizes="auto" alt="Adinba.com" itemprop="logo">
                                    </a>
                                </div>


                            </div>

                        </div>
                        <div class="grid__item post-large--two-thirds post-large--display-table-cell medium-down--hide">
                            <ul class="site-nav" role="navigation" id="AccessibleNav">
                                <li class="site-nav--active">
                                    <a href="/" class="site-nav__link">Home</a>
                                </li>
                                <li>
                                    <a href="" class="site-nav__link">Businesses</a>
                                </li>
                                <li>
                                    <a href="" class="site-nav__link">Events</a>
                                </li>
                                <li>
                                    <a href="" class="site-nav__link">Specials</a>
                                </li>
                                <li>
                                    <a href="" class="site-nav__link">Grocery Ads</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </header>
        </div>

    </div>

    <main class="wrapper main-content" role="main">
        <div class="grid">
            <div class="grid__item">
                <h1>Adinba Corporation</h1>
                <p>
                    <strong>Privacy Policy</strong>
                </p>
                <p>This privacy policy describes our policies on the collection, use, and disclosure of information about you in connection
                    with your use of our services, including those offered through our websites, emails, and mobile devices (collectively,
                    the "service"). The terms "we", "us", and "Adinba" refer to Adinba Corporation. When you use the service, you consent
                    to our collection, use, and disclosure of information about you as described in this privacy policy.</p>
                <p>This Privacy Statement only addresses the collection, processing and use (including disclosure) of information by us through
                    your interaction with the Site. Other websites that may be accessible through links from the Site may have their own
                    privacy statements and personal information collection, processing, use, and disclosure practices. Our business partners
                    may also have their own privacy statements. We encourage you to familiarize yourself with the privacy statements provided
                    by these other parties prior to providing them with information or taking advantage of a sponsored offer or promotion.
                    We are not responsible for the privacy policies of any third party websites. We recommend that you review the privacy
                    policy of each website you visit.</p>
                <p>
                    <strong>INFORMATION WE COLLECT AND HOW WE USE IT</strong>
                </p>
                <p>We may collect and store information about you when you use the Service. We use the information to fulfill your requests,
                    provide the Service’s functionality, improve the Service’s quality, personalize your experience, track usage of the Service,
                    provide feedback to third party businesses that are listed on the Service, display relevant advertising, market the Service,
                    provide customer support, message you, back up our systems and allow for disaster recovery, enhance the security of the
                    Service, and comply with legal obligations.</p>
                <p>Among the information we collect, please note:</p>
                <ol>
                    <li>
                        <strong>Account Information: </strong>If you create an account on Adinba, we may store and use your full name, email address,
                        zip code, and other information you may provide with your account, such as your gender and birth date. Your first
                        name and last initial, as well as any photo you submit through the registration process, will be publicly displayed
                        as part of your account profile. You can modify some of the information associated with your account. If you believe
                        that someone has created an unauthorized account depicting you or your likeness, you can request its removal.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Public Content: </strong>The information that you contribute through the Service is intended for public consumption,
                        including your reviews, tips, photos, videos, comments, likes, Events, bookmarks, friends, lists, compliments, and
                        account profile. We may display this information through the Service, share it with businesses, and further distribute
                        it to a wider audience through third party sites and services.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Contacts: </strong>You can invite your friends to join the Service by providing us with their contact information,
                        or by allowing us to access your contacts from your computer, mobile device, or third party sites to select which
                        friends you want to invite. If you allow us to access your contacts, we may transmit that information to Adinba long
                        enough to process your invitations.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Communications: </strong>When you sign up for an account or use certain features, you are opting to receive messages
                        from other Adinba users, businesses, and Adinba itself. You can manage some of your messaging preferences, but note
                        that you cannot opt out of receiving certain administrative, transactional, or legal messages from Adinba. For example,
                        if you make a reservation through the Service, we may send you messages about your reservation using the contact
                        information you provide, including SMS text messages to your phone. We may also track your actions in response to
                        the messages you receive from Adinba or through the Service, such as whether you deleted, opened, or forwarded such
                        messages. If you exchange messages with others through the Service, we may store them in order to process and deliver
                        them, allow you to manage them, and we may review and disclose them in connection with investigations related to
                        the operation and use of the Service. We may not deliver messages that we believe are objectionable, such as spam
                        messages or requests to exchange reviews for compensation. If you send or receive messages through the Service via
                        SMS text message, we may log phone numbers, phone carriers, and the date and time that the messages were processed.
                        Carriers may charge recipients for texts that they receive. We may also store information that you provide through
                        communications to us, including from phone calls, letters, emails and other electronic messages, or in person. If
                        you are a representative of a business listed on Adinba, including users of Adinba for Business Owners, we may contact
                        you, including by phone or email, using the contact information you provide us, information you make publicly available,
                        or that we have on record for your business.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Transactional Information: </strong>If you initiate a transaction through the Service, such as a reservation or purchase,
                        we may collect and store information about you, such as your name, phone number, address, email, and credit card
                        information, as well as any other information you provide to us, in order to process your transaction, send communications
                        about them to you, and populate forms for future transactions. This information may be shared with third parties
                        for the same purposes. Adinba does not disclose your personal information to third parties for the purpose of directly
                        marketing their services to you unless you first agree to such disclosure. When you submit credit card numbers, we
                        encrypt that information using industry standard technology.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Activity: </strong>We may store information about your use of the Service, such as your search activity, the pages
                        you view, the date and time of your visit, businesses you call using our mobile applications, and reservations and
                        purchases you make through the Service. We also may store information that your computer or mobile device provides
                        to us in connection with your use of the Service, such as your browser type, type of computer or mobile device, browser
                        language, IP address, mobile carrier, phone number, unique device identifier, advertising identifier, location (including
                        geolocation, beacon based location, and GPS location), and requested and referring URLs. You may be able to disallow
                        our use of certain location data through your device or browser settings, for example by disabling “Location Services”
                        for the Adinba application in iOS privacy settings.</li>
                </ol>
                <p>
                    <strong>COOKIES</strong>
                </p>
                <p>We, and third parties with whom we partner, may use cookies, web beacons, tags, scripts, local shared objects such as HTML5
                    and Flash (sometimes called "flash cookies"), advertising identifiers (including mobile identifiers such as Apple’s IDFA
                    or Google’s Advertising ID) and similar technology (
                    <strong>"Cookies"</strong>) in connection with your use of the Service, third party websites, and mobile applications. Cookies
                    may have unique identifiers, and reside, among other places, on your computer or mobile device, in emails we send to
                    you, and on our web pages. Cookies may transmit information about you and your use of the Service, such as your browser
                    type, search preferences, IP address, data relating to advertisements that have been displayed to you or that you have
                    clicked on, and the date and time of your use. Cookies may be persistent or stored only during an individual session.</p>
                <p>The purposes for which we use Cookies in the Service include: processes, authentication, security, compliance, preferences,
                    notifications, advertising, and analytics.</p>
                <ul>
                    <li>Intended to make the Service work in the way you expect. For example, we use a Cookie that tells us whether you have
                        already signed up for an account.</li>
                    <li>Intended to prevent fraud, protect your data from unauthorized parties, and comply with legal requirements. For example,
                        we use Cookies to determine if you are logged in.</li>
                    <li>Intended to remember information about how you prefer the Service to behave and look. For example, we use a Cookie that
                        tells us whether you have declined to allow us to use your phone’s geolocation data.</li>
                    <li>Intended to allow or prevent notices of information or options that we think could improve your use of the Service. For
                        example, we use a Cookie that stops us from showing you the signup notification if you have already seen it.</li>
                    <li>Intended to make advertising more relevant to users and more valuable to advertisers. For example, we may use Cookies
                        to serve you interest-based ads, such as ads that are displayed to you based on your visits to other websites, or
                        to tell us if you have recently clicked on an ad.</li>
                    <li>Intended to help us understand how visitors use the Service. For example, we use a Cookie that tells us how our search
                        suggestions correlate to your interactions with the search page.</li>
                </ul>
                <p>
                    <strong>Managing Cookies:</strong> It may be possible to disable some (but not all) Cookies through your device or browser settings,
                    but doing so may affect the functionality of the Service. The method for disabling Cookies may vary by device and browser,
                    but can usually be found in preferences or security settings. For flash cookies, you can manage your privacy settings.
                    Please note that changing any of these settings does not prevent the display of all advertisements to you.</p>
                <p>
                    <strong>THIRD PARTIES</strong>
                </p>
                <p>Third parties may receive information about you as follows:</p>
                <ol>
                    <li>
                        <strong>Advertisers: </strong>We may allow third parties to use Cookies through the Service to collect the same type of information
                        for the same purposes as Adinba does for itself. In doing so, Adinba adheres to the Digital Advertising Alliance’s
                        Self-Regulatory Principles for Online Behavioral Advertising. Third parties may be able to associate the information
                        they collect with other information they have about you from other sources. We do not necessarily have access to
                        or control over the Cookies they use, but you may be able to opt out of some of their practices by visiting the following
                        links:
                        <a href=http://www.networkadvertising.org/choices/>Network Advertising Initiative</a>,
                        <a href="https://www.d1.sc.omtrdc.net/optout.html?omniture=1&amp;popup=1&amp;locale=en_US&amp;second=1&amp;second_has_cookie=0">Omniture</a>,
                        <a href=http://www.aboutads.info/choices/>Digital Advertising Alliance</a> and
                        <a href=http://privacychoice.org/trackerblock>PrivacyChoice</a>. Please note that opting out does not prevent the display of all advertisements to you. Additionally,
                        we may share non-personally identifiable information from or about you with third parties, such as location data,
                        advertising identifiers, or a cryptographic hash of a common account identifier (such as an email address), to facilitate
                        the display of targeted advertising. You may be able to limit our sharing of some of this information through your
                        mobile device settings, as described in the Cookies section above.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Service Providers: </strong>We may rely on third party providers to support or provide some of the services that
                        are available through the Service, such as reservations and food delivery. We may also rely on third party providers
                        to perform certain services for us in connection with your use of the Service, such as communications and hosting
                        services, network security, technical and customer support, tracking and reporting functions, quality assurance testing,
                        payment processing, our own marketing of the Service, and other functions. We may share information from or about
                        you with these third party providers so that they can perform their services or complete your requests. These third
                        party providers may share information with us that they obtain from or about you in connection with providing their
                        services or completing your requests. Third party providers may also share this information with their subsidiaries,
                        joint ventures, or other companies under common control. Some of our web pages utilize framing techniques to serve
                        content to you from our third party providers, while preserving the look and feel of the Service. In such cases,
                        please note that the information you provide is being provided to the third party.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Aggregate Information: </strong>We may share user information in the aggregate with third parties, such as advertisers
                        and content distributors. For example, we may disclose the number of users that have been exposed to, or clicked
                        on, advertisements.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Business Transfers: </strong>We may share information from or about you with our parent companies, subsidiaries,
                        joint ventures, or other companies under common control, in which case we will require them to honor this Privacy
                        Policy. If another company acquires Adinba or all or substantially all of our assets, that company will possess the
                        same information, and will assume the rights and obligations with respect to that information as described in this
                        Privacy Policy.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Businesses on Adinba: </strong>We may share information from or about you (such as your age and gender), your devices,
                        and your use of the Service (such as which businesses you bookmark or call) with businesses listed on Adinba. You
                        may adjust your settings to increase or decrease the amount of information we share. Keep in mind that businesses
                        may see your Public Content (as defined in Section
                        <span style="text-decoration: line-through;">1(b)</span> 2 above) and receive information about your transactions with them, regardless of your settings. Additionally,
                        if you make a phone call to a business through or in connection with your use of the Service, we may share information
                        about your call with the business that the business would have received had you called them directly, such as the
                        date and time of your call and your phone number. You may be able to limit our ability to collect and share your
                        phone number through your phone’s settings or phone service provider.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Investigations:</strong>We may investigate and disclose information from or about you if we have a good faith belief
                        that such investigation or disclosure (a) is reasonably necessary to comply with legal process and law enforcement
                        instructions and orders, such as a search warrant, subpoena, statute, judicial proceeding, or other legal process
                        served on us; (b) is helpful to prevent, investigate, or identify possible wrongdoing in connection with the Service;
                        or (c) protects our rights, reputation, property, or that of our users, affiliates, or the public, such as disclosures
                        in connection with our Consumer Alerts program. If you flag or otherwise complain to Adinba about content through
                        the Service, we may share the substance of your complaint with the contributor of that content in order to provide
                        an opportunity for the contributor to respond.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Links:</strong>The Service may contain links to unaffiliated third party services. Except as set forth herein, we
                        do not share your personal information with them, and are not responsible for their privacy practices. We suggest
                        you read the privacy policies on or applicable to all such third party services.</li>
                </ol>
                <ol>
                    <li>
                        <strong>Third Party Accounts:</strong>If you sign up for Adinba using a third party service like Facebook, or link your Adinba
                        account to your account with a third party service like Facebook or Twitter, we may receive information about you
                        from such third party service.</li>
                </ol>
                <p>
                    <strong>CONTROLLING YOUR PERSONAL DATA</strong>
                </p>
                <p>Other users may be able to identify you, or associate you with your account, if you include personal information in the content
                    you post publicly. You can reduce the risk of being personally identified by using the Service pseudonymously, though
                    doing so could detract from the credibility of your contributions to the Service. Users can also use the Find Friends
                    feature to find one another based on their names or email addresses.</p>
                <p>Please also note that the messages you send or receive using the Service are only private to the extent that both you and
                    the person you are communicating with keep them private. Also, Adinba may access and disclose such messages in the course
                    of investigations relating to use of the Service.</p>
                <p>
                    <strong>DATA RETENTION AND ACCOUNT TERMINATION</strong>
                </p>
                <p>You can close your account by email via Contact Us. We may not remove your public posts from view and/or dissociate them
                    from your account profile, but we may retain information about you for the purposes authorized under this Privacy Policy
                    unless prohibited by law. We may retain information to prevent, investigate, or identify possible wrongdoing in connection
                    with the Service or to comply with legal obligations. Please note that businesses cannot remove their business listings,
                    ratings, or reviews by closing their accounts.</p>
                <p>
                    <strong>CHILDREN</strong>
                </p>
                <p>The Service is intended for general audiences and is not directed to children under 13. We do not knowingly collect personal
                    information from children under 13. If you become aware that a child has provided us with personal information without
                    parental consent, please contact us via email. If we become aware that a child under 13 has provided us with personal
                    information without parental consent, we take steps to remove such information and terminate the child's account.</p>
                <p>
                    <strong>SECURITY</strong>
                </p>
                <p>We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission
                    and once we receive it. However, no method of transmission over the Internet or via mobile device, or method of electronic
                    storage, is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal information,
                    we cannot guarantee its absolute security.</p>
                <p>
                    <strong>CONTACT INFORMATION</strong>
                </p>
                <p>If you believe that Adinba has not adhered to this Privacy Policy, you may contact us online via the Contact Us section or
                    write to us at the following address:</p>
                <p>Adinba Corporation
                    <br />Attn: Data Privacy Manager
                    <br />8329 Aura Ave. Northridge, CA 91324
                    <br />United States of America</p>
                <p>
                    <strong>MODIFICATIONS TO THIS PRIVACY POLICY</strong>
                </p>
                <p>We may revise this Privacy Policy from time to time. The most current version of the Privacy Policy will govern our collection,
                    use, and disclosure of information about you. If we make material changes to this Privacy Policy, we will notify you
                    by email or by posting a notice on the Service prior to the effective date of the changes. By continuing to access or
                    use the Service after those changes become effective, you agree to the revised Privacy Policy.</p>
                <p>
                    <strong>CALIFORNIA RESIDENTS: YOUR CALIFORNIA PRIVACY RIGHTS</strong>
                </p>
                <p>Adinba does not disclose your personal information to third parties for the purpose of directly marketing their services
                    to you unless you first agree to such disclosure. If you have any questions regarding this policy, or would like to change
                    your preferences, you may contact us at the address listed above in Contact Information section.</p>
            </div>
        </div>
    </main>

    <div id="shopify-section-footer" class="shopify-section">
        <footer class="site-footer small--text-center" role="contentinfo">

            <div class="wrapper">

                <div class="grid-uniform">
                    <div class="grid__item post-large--one-quarter medium--one-half site-footer__links">
                        <h3 class="h4">
                            About Adbina
                        </h3>

                        <p>Adinba is an all-in-one business directory giving you a new way to promote your business such as
                            offering Coupons and/or Events to the public.</p>

                    </div>
                    <div class="grid__item post-large--one-quarter medium--one-half">

                        <h3 class="h4">Terms and Conditions</h3>

                        <ul class="site-footer__links">

                            <li>
                                <a href="/terms">Terms of Use</a>
                            </li>

                            <li>
                                <a href="/privacy">Privacy Policy</a>
                            </li>

                        </ul>
                    </div>
                    <div class="grid__item post-large--one-quarter medium--one-half">
                        <h3 class="h4">Contact Us</h3>
                        <ul class="site-footer__links">
                            <li>
                                <a herf="/">
                                    <!-- <span class="icon icon-twitter" aria-hidden="true"></span> -->
                                    Send us a Message
                                </a>
                            </li>
                            <li>
                                <!-- <span class="icon icon-twitter" aria-hidden="true"></span> -->
                                info@adinba.com
                            </li>
                            <li>
                                <!-- <span class="icon icon-twitter" aria-hidden="true"></span> -->
                                818 - 875 - 3389
                            </li>
                        </ul>
                    </div>

                    <div class="grid__item post-large--one-quarter medium--one-half">
                        <h3 class="h4">Newsletter</h3>
                        <p>Sign up for the latest events, specials and more!</p>
                        <div class="form-vertical small--hide">
                            <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
                                <input type="hidden" name="form_type" value="customer" />
                                <input type="hidden" name="utf8" value="✓" />


                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <input type="email" value="" placeholder="Your email" name="contact[email]" id="Email" class="input-group-field" aria-label="Your email"
                                    autocorrect="off" autocapitalize="off">
                                <input type="submit" class="btn" name="subscribe" id="subscribe" value="Subscribe">

                            </form>
                        </div>
                        <div class="form-vertical post-large--hide large--hide medium--hide">
                            <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
                                <input type="hidden" name="form_type" value="customer" />
                                <input type="hidden" name="utf8" value="✓" />


                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <div class="input-group">
                                    <input type="email" value="" placeholder="Your email" name="contact[email]" id="Email" class="input-group-field" aria-label="Your email"
                                        autocorrect="off" autocapitalize="off">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn" name="commit" id="subscribe">Subscribe</button>
                                    </span>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>

                <hr class="hr--small hr--clear">

                <div class="grid">
                    <div class="grid__item text-center">
                        <p class="site-footer__links">Copyright &copy; 2018,
                            <a href="/" title="">Adinba</a>.
                            <a href="">All-in-one Business Directory</a>
                        </p>
                    </div>
                </div>
            </div>

        </footer>


    </div>


    <script src="//cdn.shopify.com/s/files/1/0153/0847/t/21/assets/theme.js?11848849078860595220" type="text/javascript"></script>
    <script>
        {% if messages %}
        {% for message in messages %}
        alert('{{message}}')
        {% endfor %}
        {% endif %}

    </script>
</body>

</html>